.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Use the full height of the viewport */
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box; /* Include padding in the width and height */
}

.about-container h1, .about-container h2 {
    color: #333;
    text-align: center;
}

.about-container p, .about-container li {
    font-size: 16px;
    text-align: center;
    color: #666;
}

.about-container ul {
    list-style: none;
    padding: 0;
}

.about-container li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
}
