/* registerpage.css */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container uses full viewport height */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}

.register-container {
  width: 100%; /* Full width to handle responsiveness */
  max-width: 300px; /* Maximum width */
  margin: 20px auto; /* Center the box and provide vertical spacing */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #F5EDED;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%; /* Ensure inputs do not exceed the container */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
